@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pusheen Custom FileResult to Export CSV</h1>
    <p>A demo of custom FileResult to Export Data into a CSV file Using Streaming in a .NET Core 3.1 MVC App</p>

    <p>Featuring Pusheen the Cat!</p>

        <a type="button" class="btn btn-primary" asp-controller="Pusheen" asp-action="Index">Go to Pusheen Data</a>

    <div class="tenor-gif-embed" data-postid="8105026" data-share-method="host" data-width="100%" data-aspect-ratio="1.5057471264367817"><a href="https://tenor.com/view/pusheen-laptop-typing-cat-gif-8105026">Pusheen Laptop GIF</a> from <a href="https://tenor.com/search/pusheen-gifs">Pusheen GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>

</div>
